<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- pipes -->
<!-- <div class="demo">
    <div>Start Date: {{startDate | date: 'MM/dd/YYYY' }}</div>
    <div>{{title | uppercase}}</div>
    {{courses | json}} 
     <div *ngFor="let pair of course | keyvalue">
        {{pair.key + ': ' +pair.value}}
     </div>
</div> -->

<button (click)="onCourseEdited()">Edit Courses</button>
<div class="courses" #container>
    @for(course of courses; track course.id; let first = $first; let last = $last){
    <course-card #cardRef 
        (courseSelected)="onCoureSelected($event)" 
        [class.is-first]="first" 
        [class.is-last]="last"
        [course]="course">
            <course-image [src]="course.iconUrl"></course-image>
    </course-card>
    }
    @empty{
    <h1>No courses found!</h1>
    }


</div>